[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"

[packages]
redis = "*"
redis-py-cluster = "*"
pylru = "*"
msgpack = "*"

[requires]
python_version = "3.6"
